/* laptop large version: [992px; 1199px] */
@media (max-width: 1199.5px) {
  /* ================================= header start ================================= */
  .header__menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 45px;
  }
  /* ================================= header end ================================= */

  /* =================================  Slider start ================================= */

  /* =================================  Slider end ================================= */
}
